/* ./assets/css/custom.css */
img.emoji {
    display: inline-block;
    vertical-align: text-bottom;
    height: 1.25em;
    width: auto;
    margin: 0;
}

img.sticker {
    display: block;
    height: 6rem;
    width: auto;
    margin: 0;
}