<aside class="col-12 col-md-3 float-left sidebar">
  <!-- breadcrumbs -->
  <div class="sidebar-item sidebar-breadcrumbs">
    {{ with partial "breadcrumbs.html" . }}
    <h3>{{ i18n "breadcrumbsTitle" }}</h3>
    <p class="breadcrumbs">{{ . }}</p>
    {{ end }}
  </div>
  <!-- languages -->
  <div class="sidebar-item sidebar-lang">
    <h3>{{ i18n "sidebarLang" }}</h3>
    {{ with .Translations }}
    <nav class="language-switcher">
      {{ range . }} {{ if eq .Language.Lang $.Language.Lang }}
      <a class="active" aria-current="page" href="{{ .RelPermalink }}"
        >{{ .Language.LanguageName }}</a
      >
      {{ else }}
      <p>➡️ <a href="{{ .RelPermalink }}">{{ .Language.LanguageName }}</a></p>
      {{ end }} {{ end }}
    </nav>
    {{ end }}
  </div>
  <!-- pages -->
  <div class="sidebar-item sidebar-pages">
    <h3>{{ i18n "sidebarPages" }}</h3>
    <ul>
      {{ range .Site.Menus.nav }}
      <li>
        <a href="{{ .URL }}">{{ .Name }}</a>
      </li>
      {{ end }}
    </ul>
  </div>
  <!-- links -->
  <div class="sidebar-item sidebar-links">
    <h3>{{ i18n "sidebarLinks" }}</h3>
    <ul>
      {{ range .Site.Menus.link }}
      <li>
        <a href="{{ .URL }}" target="_blank"><span>{{ .Name }}</span></a>
      </li>
      {{ end }}
    </ul>
  </div>
  <!-- tags -->
  <div class="sidebar-item sidebar-tags">
    <h3>{{ i18n "sidebarTags" }}</h3>
    <div>
      {{ range .Site.Taxonomies.tags }}
      <span>
        <a href="{{ .Page.RelPermalink }}">{{ .Page.Title }}</a>
      </span>
      {{ end }}
    </div>
  </div>
  <!-- in-post toc -->
  {{- if or (.IsPage) (.IsHome) -}} {{- $pageShowToc := .Params.showToc -}} {{-
  $siteShowToc := .Site.Params.showToc -}} {{- if or ($pageShowToc) (and (ne
  $pageShowToc false) (ne $siteShowToc false)) -}}
  <div class="sidebar-item sidebar-toc">
    <h3>{{ i18n "sidebarToc" }}</h3>
    {{/* {{- .TableOfContents -}} */}} {{ $tocStartLevel := default 2
    .Params.toc_start_level }} {{ $tocEndLevel := default 3
    .Params.toc_end_level }} {{ $tocOrdered := false }} {{ .Fragments.ToHTML
    $tocStartLevel $tocEndLevel $tocOrdered | safeHTML }}
  </div>
  {{- end -}} {{ else }} {{ with .Site.Params.bgmImageChart }}
  <!-- bgm.tv image chart -->
  <div class="sidebar-item sidebar-bgm">
    <h3>{{ i18n "sidebarBangumiChart" }}</h3>
    <img
      class="lazyload"
      src="{{ $.Site.Params.lazyPlaceholder | relURL }}"
      data-src="https://bgm.tv/chart/img/{{ . }}"
      alt="Bangumi"
    />
  </div>
  {{ end }} {{ end }}
</aside>
