{{$page := .Site.GetPage (.Get 0)}}
<div class="container alert alert-secondary">
    <div><a href="{{$page.RelPermalink}}" alt="{{$page.Title}}">
            <h3>{{ $page.Title }}</h3>
        </a></div>
    <p><small>{{$page.Summary}}</small></p>
    <div class="clearfix"></div>
</div>